@page
@model Zero.Pages.Apr20Payrolls.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Apr20 Payroll</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apr20Payroll.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apr20Payroll.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apr20Payroll.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apr20Payroll.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apr20Payroll.Employee.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apr20Payroll.Employee.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apr20Payroll.Employee.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apr20Payroll.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apr20Payroll.Deduction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apr20Payroll.Deduction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apr20Payroll.OvertimeHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apr20Payroll.OvertimeHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apr20Payroll.Bonus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apr20Payroll.Bonus)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Apr20Payroll.EmployeeID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
