@page
@model Zero.Pages.Sep19Payrolls.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sep19 Payroll</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sep19Payroll.Employee.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sep19Payroll.Employee.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sep19Payroll.Employee.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sep19Payroll.Employee.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sep19Payroll.Employee.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sep19Payroll.Employee.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sep19Payroll.Employee.Allowance1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sep19Payroll.Employee.Allowance1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sep19Payroll.Employee.Allowance2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sep19Payroll.Employee.Allowance2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sep19Payroll.Employee.Allowance3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sep19Payroll.Employee.Allowance3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sep19Payroll.Deduction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sep19Payroll.Deduction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sep19Payroll.OvertimeHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sep19Payroll.OvertimeHours)
        </dd>
        <dt class="col-sm-2">
            Overtime Amount (AED)
        </dt>
        <dd class="col-sm-10">
            @Model.OvertimeAmount
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sep19Payroll.Bonus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sep19Payroll.Bonus)
        </dd>
    </dl>
</div>
<div>
    @if ((await AuthorizationService.AuthorizeAsync(
User, Model.Sep19Payroll,
EmployeeOperations.Update)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Sep19Payroll.EmployeeID">Edit</a>
        <text> | </text>
    }
    <a asp-page="./Index">Back to List</a>
</div>
