@page
@model Zero.Pages.ContractBudgets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContractBudget</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractBudget.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractBudget.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractBudget.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractBudget.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ContractBudget.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
