@page
@model Zero.Pages.Vendors.IndexModel

@{
    ViewData["Title"] = "Vendors";
    ViewData["Active"] = "Vendors";
}

<h1>Vendors</h1>

<p>
    <a asp-page="Create">Create New Vendor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendor[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor[0].Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor[0].BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor[0].IBAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor[0].BankCountry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vendor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IBAN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankCountry)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    @* <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |  *@
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
