@page
@model Zero.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Nationality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DoB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DoB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MaritalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.MaritalStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Allowance1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Allowance1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Allowance2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Allowance2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Allowance3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Allowance3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.HiringDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HiringDate)
        </dd>
    </dl>
</div>
<div>
    @* <a asp-page="./Edit" asp-route-id="@Model.Employee.ID">Edit</a> |*@

    @if ((await AuthorizationService.AuthorizeAsync(
       User, Model.Employee,
       EmployeeOperations.Update)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Employee.ID">Edit</a>
        <text> | </text>
    }

    <a asp-page="./Index">Back to List</a>
</div>
